@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

.main__preview{
  display: flex;
  background-color: #F9FAFF;
}
.css-ahj2mt-MuiTypography-root {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
  color: #1D4ED8 !important;
  margin-left: 20px !important;
}